 .u-section-1 {
  background-image: url("images/image27.png");
  background-position: 74.06% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 212px auto 0 157px;
}

.u-section-1 .u-text-2 {
  font-weight: bold;
  font-size: 6rem;
  width: 826px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: normal;
  width: 826px;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 147px;
    margin-right: 61px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 36px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: 36px;
    margin-left: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-text-1 {
    width: 563px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 314px;
    margin-left: 157px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 81px;
    margin-left: 99px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 67px;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/image3.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 547px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 69px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-line-1 {
  width: 432px;
  transform-origin: left center 0px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  width: 669px;
  margin: 32px auto 0;
}

.u-section-3 .u-group-elements-1 {
  width: 413px;
  min-height: 45px;
  height: auto;
  margin: 65px auto 60px 353px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 271px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -45px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 97px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 81px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 6rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-elements-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 215px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 49px auto 0;
}

.u-section-4 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 40px;
  margin-bottom: 57px;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 575px;
}

.u-section-5 .u-blog-1 {
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 575px;
  grid-auto-columns: calc(50% - 5px);
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 298px;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 298px;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 298px;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 10px 0 0;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  height: 298px;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 10px 0 0;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  height: 298px;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-5 .u-text-10 {
  margin: 10px 0 0;
}

.u-section-5 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-gallery-nav-2 {
    left: auto;
    top: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-gallery-nav-1 {
    left: 12px;
    top: 195px;
  }

  .u-section-5 .u-gallery-nav-2 {
    top: 195px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 215px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 49px auto 0;
}

.u-section-6 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 40px;
  margin-bottom: 57px;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 546px;
}

.u-section-7 .u-list-1 {
  margin-top: 77px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 377px;
  grid-gap: 20px 20px;
}

.u-section-7 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-7 .u-image-1 {
  height: 245px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px 20px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 27px auto 0;
}

.u-section-7 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-7 .u-image-2 {
  height: 245px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px 20px 0;
}

.u-section-7 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 27px auto 0;
}

.u-section-7 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-7 .u-image-3 {
  height: 245px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px 20px 0;
}

.u-section-7 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 345px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 26px;
  }

  .u-section-7 .u-image-1 {
    height: 202px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 26px;
  }

  .u-section-7 .u-image-2 {
    height: 202px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 26px;
  }

  .u-section-7 .u-image-3 {
    height: 202px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 90px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 826px;
  }

  .u-section-7 .u-image-1 {
    height: 232px;
  }

  .u-section-7 .u-image-2 {
    height: 232px;
  }

  .u-section-7 .u-image-3 {
    height: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    margin-top: 114px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-image-1 {
    height: 348px;
  }

  .u-section-7 .u-image-2 {
    height: 348px;
  }

  .u-section-7 .u-image-3 {
    height: 348px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 140px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 1138px;
  }

  .u-section-7 .u-image-1 {
    height: 219px;
  }

  .u-section-7 .u-image-2 {
    height: 219px;
  }

  .u-section-7 .u-image-3 {
    height: 219px;
  }
}

.u-section-7 .u-text-1,
.u-section-7 .u-text-1:before,
.u-section-7 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-container-layout:hover .u-text-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-7 .u-text-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-7 .u-text-2,
.u-section-7 .u-text-2:before,
.u-section-7 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-container-layout:hover .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-7 .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-7 .u-text-3,
.u-section-7 .u-text-3:before,
.u-section-7 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-container-layout:hover .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-7 .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-91d4-76:not([data-block-selected]):not([data-cell-selected]),
.u-block-91d4-76:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-91d4-76:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-91d4-76:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-91d4-76:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}.u-section-8 .u-sheet-1 {
  min-height: 166px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.5rem;
  margin: 21px auto 0;
}

.u-section-8 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 21px;
  margin-bottom: 42px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-line-1 {
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-line-1 {
    margin-top: 1px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 506px;
}

.u-section-9 .u-line-1 {
  transform-origin: right center 0px;
  width: 1140px;
  margin: 1px auto 0;
}

.u-section-9 .u-list-1 {
  margin: 28px auto 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  min-height: 392px;
  grid-gap: 18px 18px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 30px 25px;
}

.u-section-9 .u-image-1 {
  width: 188px;
  height: 188px;
  background-image: url("images/image9.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 35px auto 0;
}

.u-section-9 .u-text-1 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.625rem;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 30px 25px;
}

.u-section-9 .u-image-2 {
  width: 188px;
  height: 188px;
  background-image: url("images/image10.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 35px auto 0;
}

.u-section-9 .u-text-3 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.625rem;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  width: auto;
  margin: 28px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 0 30px 25px;
}

.u-section-9 .u-image-3 {
  width: 188px;
  height: 188px;
  background-image: url("images/image11.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 35px auto 0;
}

.u-section-9 .u-text-5 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.625rem;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 0 30px 25px;
}

.u-section-9 .u-image-4 {
  width: 188px;
  height: 188px;
  background-image: url("images/image29.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: 35px auto 0;
}

.u-section-9 .u-text-7 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.625rem;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-9 .u-text-8 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 693px;
  }

  .u-section-9 .u-line-1 {
    width: 940px;
    margin-top: 28px;
  }

  .u-section-9 .u-list-1 {
    height: auto;
    min-height: 386px;
    margin-top: 82px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 13.5px));
    min-height: 319px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-9 .u-text-6 {
    font-size: 1rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-9 .u-text-8 {
    font-size: 1rem;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: auto;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-9 .u-line-1 {
    width: 720px;
    margin-top: 1px;
    margin-left: 210px;
  }

  .u-section-9 .u-list-1 {
    width: 627px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: auto;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
    min-height: 843px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 32px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 32px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 32px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-4 {
    padding-bottom: 32px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1817px;
  }

  .u-section-9 .u-line-1 {
    width: 540px;
    margin-top: -729px;
    margin-left: 300px;
  }

  .u-section-9 .u-list-1 {
    width: 359px;
    margin-top: 779px;
    margin-bottom: 26px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1738px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 1858px;
  }

  .u-section-9 .u-line-1 {
    width: 340px;
    margin-top: -877px;
    margin-left: 400px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 903px;
    margin-bottom: 29px;
    height: auto;
    min-height: 1096px;
    width: 340px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 11px 10px 49px;
  }

  .u-section-9 .u-container-layout-2 {
    padding: 11px 10px 49px;
  }

  .u-section-9 .u-container-layout-3 {
    padding: 11px 10px 49px;
  }

  .u-section-9 .u-container-layout-4 {
    padding: 11px 10px 49px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 40px;
}